<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <title>Creating your blog with Pelican</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open Graph tags -->

        
    <script type= "text/javascript">
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.src = 'https:' == document.location.protocol ? 'https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js' : 'http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'; 
        s[(window.opera ? "innerHTML" : "text")] =
            "MathJax.Hub.Config({" + 
            "    config: ['MMLorHTML.js']," + 
            "    jax: ['input/TeX','input/MathML','output/HTML-CSS','output/NativeMML']," +
            "    TeX: { extensions: ['AMSmath.js','AMSsymbols.js','noErrors.js','noUndefined.js'], equationNumbers: { autoNumber: 'AMS' } }," + 
            "    extensions: ['tex2jax.js','mml2jax.js','MathMenu.js','MathZoom.js']," +
            "    tex2jax: { " +
            "        inlineMath: [ ['$','$'] ], " +
            "        displayMath: [ ['$$','$$'] ]," +
            "        processEscapes: true }, " +
            "    'HTML-CSS': { " +
            "        styles: { '.MathJax .mo, .MathJax .mi': {color: 'black ! important'}} " +
            "    } " +
            "}); ";
        (document.body || document.getElementsByTagName('head')[0]).appendChild(s);
    </script>

            <meta property="og:type" content="article"/>
            <meta property="og:title" content="Creating your blog with Pelican"/>
            <meta property="og:url" content="/create-pelican-blog.html"/>
            <!--meta property="og:description" content="Hello world! This blog is created using the static site generator Pelican and hosted on Github Pages. In this first post I'd like to walk you through the process of creating this blog and hopefully make it easy for you to start your own following the same steps. The Pelican project has great documentation and you should definitely start there. In the process of creating my blog I've discovered a lot of interesting resources to customize it, so I wanted to document it and share it. I've organized the post in the following sections: Deciding the platform ..."/-->

    <!-- Bootstrap -->
        <link rel="stylesheet" href="/theme/css/bootstrap.lovers.min.css" type="text/css"/>
        <link rel="stylesheet" href="/theme/css/style.lovers.css" type="text/css"/>
    <link href="/theme/css/font-awesome.min.css" rel="stylesheet">
    <!--link href="/theme/css/pygments.css" rel="stylesheet"-->
    <link href="/theme/css/prism.css" rel="stylesheet" />
    <link rel="stylesheet" href="/theme/css/style.css">    
    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="jquery.pageslide.css">


</head>
<body>

<div class="wrap">

<div class="container">
    <div class="row-quote">
    	<a href="https://www.goodreads.com/user/show/22231242-christine"></a>
    	<h4><div id="gr_quote_body">
    	</div></h4>
		<script src="https://www.goodreads.com/quotes/widget/22231242-christine?v=2" type="text/javascript"></script>
	</div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-9 col-xs-12">
                <div>
                <img src="/images/keyboardred.png" class="img-responsive" alt="Responsive image">
                </div>
                <hr class="hidden-xs"/>

    <section id="content">
        <article>
            <header class="page-header">
                <h2>
                    <a href="/create-pelican-blog.html"
                       rel="bookmark"
                       title="Permalink to Creating your blog with Pelican">
                        Creating your blog with Pelican
                    </a>
                </h2>
            </header>
            <div class="entry-content">
                <div class="panel panel-primary">
                    <div class="panel-heading">
<footer class="post-info">
    <span class="label label-default">Date</span>
    <span class="published">
        <i class="icon-calendar"></i>Fri 24 January 2014
    </span>



<span class="label label-default">Tags</span>
	<a href="/tag/pelican.html">pelican</a>
        /
	<a href="/tag/blog.html">blog</a>
  
<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="dream_bcn">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</footer><!-- /.post-info -->                    </div>
                    <div class="panel-body">
                    <p>Hello world! This blog is created using the static site generator <a href="http://docs.getpelican.com">Pelican</a> and hosted on <a href="https://help.github.com/categories/20/articles/">Github Pages</a>. In this first post I'd like to walk you through the process of creating this blog and hopefully make it easy for you to start your own following the same steps. The <a href="http://docs.getpelican.com">Pelican</a> project has great documentation and you should definitely start there. In the process of creating my blog I've discovered a lot of interesting resources to customize it, so I wanted to document it and share it.</p>
<p>I've organized the post in the following sections:</p>
<ul>
<li>Deciding the platform: Why Pelican? What's a static site generator? What are the advantatges?</li>
<li>About Pelican: How to get started with Pelican?</li>
<li>Creating my layout and theme: How to create a responsive custom blog design with Twitter Bootstrap?</li>
<li>Additional features: How to add some widgets (Goodreads, Twitter)?</li>
<li>Publishing on Github Pages: How to get the blog up and running?</li>
</ul>
<h2>Deciding platform</h2>
<p>Once you decide to start a blog, one of the first questions that might come to your mind is: What platform should I use? There are many diferent blogging platforms out there and choosing the right platform for you will depend on some personal preferences. If you don't want anything to do with the command line and some code, then I'll recommend you to stop reading here and go for one of the following: <a href="">Wordpress</a>, <a href="">Blogger</a> or <a href="">Tumblr</a>.</p>
<p>If you're not affraid of the command line, then you're left with the options above and a static-site generator.</p>
<h3>Static vs Dynamic</h3>
<p>So, let's define first what dynamic vs static website means. In a dynamic website the contents of the site live in a database, and are converted into presentation-ready HTML only when a user wants to see the page. In a static website, the whole site is uploaded to the server as a folder full of HTML files (and images, CSS, etc). <a href="http://getnikola.com/handbook.html#why-static">Nikola</a> has a nice section on "Why Static?". It provides four reasons to chose a static versus a dynamic blog:</p>
<ul>
<li>Security: Avoid the security issues of having software installed on your webhost.</li>
<li>Obsolescense: Don't need to worry about upgrading and maintaining server-side software.</li>
<li>Cost and performance:  A dynamic site requires more CPU and memory to query the database, produce the HTML and send it to the user. A static site just needs to read the file from disk and send it to the user.</li>
<li>Lockin: Can easily move your website somewhere else because you they are just static files.</li>
</ul>
<p>I'll add to the list:</p>
<ul>
<li>Exercise version control on the static web content.</li>
<li>Write blog posts using Markdown.</li>
<li>Nice syntax highlighting to share code.</li>
</ul>
<p>If the reasons above conviced you to try out a static site generator, continue reading.</p>
<h3>Static Site Generators</h3>
<p>Last time I checked the complete list of <a href="http://staticsitegenerators.net/">static site generators</a> there where 218! That's a lot of static site generators! Probably the most popular one is <a href="http://octopress.org/">Octopress</a>, written in Ruby. Since I'm a Pythonista, I decided to look for Python based static site generators. Some popular ones are <a href="http://docs.getpelican.com">Pelican</a>, <a href="http://getnikola.com/">Nikola</a> and <a href="http://ringce.com/hyde">Hyde</a>. I started playing around with Pelican and found it to be fun, easy, well documented and had a growing community providing themes and plugins, so I decided to stay with Pelican. I can't compare it to Nikola or Hyde since I haven't used them.</p>
<p>Although you might don't need much language knowledge to get the static site generator working, I would recommend choosing a language you are comfortable working with, since that will make installation and customizing easier. Then, playing around with those until you find one that is right for you.</p>
<p>If you're choice for a static site generator is Pelican, let's move on and learn how to get started! </p>
<h2>Pelican</h2>
<p>The best way to get started with Pelican is reading the documentation <a href="http://docs.getpelican.com">Pelican</a>.</p>
<p>As a summary of the Pelican documentation here is how I proceed:</p>
<p>Install virtualenv and activate a virtual environment. (A virtual environment is an isolated Python system, so you don't mess up the systems Python installation).</p>
<pre><code class="language-bash">  $ pip install virtualenv
  $ virtualenv ~/virtualenvs/pelican
  $ cd ~/virtualenvs/pelican
  $ . bin/activate
</code></pre>

<p>Install pelican and Markdown</p>
<pre><code class="language-bash">  $ pip install pelican
  $ pip install markdown
</code></pre>

<p>Kickstart yor site</p>
<pre><code class="language-bash">  $ pelican-quickstart
</code></pre>

<p>Pelican will ask you some questions about your blog and will generate the following files:</p>
<pre><code class="language-bash">  yourproject/
  ├── content
  │   └── (pages)
  ├── output
  ├── develop_server.sh
  ├── fabfile.py
  ├── Makefile
  ├── pelicanconf.py       
  └── publishconf.py
</code></pre>

<p>Notes:</p>
<ul>
<li>Content is the folder where you save your articles in Markdown or reST files.</li>
<li>Output is the folder that pelican generates with your site HTML, CSS and JS.</li>
<li>Makefile is an automated tool to help you generate, preview and upload your site.</li>
<li>fabfile.py is also another automated tool to help you generate, preview and upload your site (To use Fabfile.py you have to install Fabric <code>pip install Fabric</code>).</li>
<li>pelicanconf.py is the main settings file.</li>
<li>publishconf.py is the publish settings file.</li>
</ul>
<p>To view your website in your browser at <code>http://localhost:8000</code></p>
<pre><code class="language-bash">  $ make devserver
</code></pre>

<p>And to stop</p>
<pre><code class="language-bash">  $ ./develop_server.sh stop
</code></pre>

<p>Next, we're going to customize a theme, get some plugins, tune the pelicanconf.py file and create the content, articles and pages in either a Markdown or reST format. With the <code>make devserver</code> command you can easily see the changes in your browser.</p>
<h2>Creating a custom theme</h2>
<p>I had a clear idea of how I wanted my blog to look like and this is the result. If you would like to get the theme for your blog, you can get the Bootstrap-dreamers-theme <a href="">here</a>. I'm going to walk you through the changes I made and show you how you can customize it for your blog.</p>
<p>I've developed this theme using <a href="http://getbootstrap.com/">Twitter-Bootstrap</a>. It is self-defined as a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development. There are a lot of tools built for Bootstrap and it makes it easy and fast even for non-designers to get something decent up and running. There are a lot of nice resources built for Bootstrap. For a full list, visit the <a href="http://www.bootstraphero.com/the-big-badass-list-of-twitter-bootstrap-resources">Big Badass List of Twitter Boostrap Resources</a>.</p>
<p>I started out with Daan Debie's <a href="https://github.com/DandyDev/pelican-bootstrap3">Bootstrap 3 for Pelican</a>. He's done a great job of setting Bootstrap for Pelican and including <a href="http://bootswatch.com/">Bootswatch themes</a>, built by Thomas Park. He's also added some nice plugins and layout settings. Although that was a starting point, I've done enough customizations that it has evolved to become a theme on its own. The following is a list of the customizations I've made and that I'm going to discuss in detail next:</p>
<ul>
<li>Create blog layout</li>
<li>Create color theme</li>
<li>Set a background image</li>
<li>Get a header image</li>
<li>Set your profile picture</li>
<li>Change fonts</li>
<li>Custom buttons</li>
<li>Custom social media icons</li>
</ul>
<h3>Create blog layout</h3>
<p>The first thing I did was create the page layout using <a href="http://bootply.com/">Bootply</a>, the Bootstrap playround, and <a href="http://jinja.pocoo.org/">Jinja2</a>, a template engine for Python that let's you do things like extend, block, for loop, etc. For example:</p>
<pre><code class="language-markup">  {% extends &quot;base.html&quot; %}
  {% block body %}
  &lt;ul&gt;
  {% for article in articles %}
    &lt;li&gt;&lt;a href=&quot;{{ article.url }}&quot;&gt;{{ article.title }}&lt;/a&gt;&lt;/li&gt;
  {% endfor %}
  &lt;/ul&gt;
  {% endblock %}
</code></pre>

<p>If you'd like to change your layout, first, get to know <a href="http://getbootstrap.com/">Twitter-Bootstrap's</a> components and system grid.Play around with <a href="http://bootply.com">Bootply</a> for a fast prototyping of your ideas. Then, edit your template files and use the <code>$ make devserver</code> command to see the changes.</p>
<h3>Create color theme</h3>
<p>There is a great tool called <a href="http://paintstrap.com/">Paintstrap</a>. Given a color palette from <a href="https://kuler.adobe.com/create/color-wheel/">Adobe Kuler</a> or <a href="http://www.colourlovers.com/">COLOURlovers</a>, you can set up colors for different Bootstrap components, preview the result and download the Bootstrap CSS file. It also has an extensive <a href="http://paintstrap.com/gallery/">Gallery</a> of color themes that you can preview and download as well. Once you download the CSS file in your static folder, rename it to <code>bootstrap.yourthemename.css</code> and <code>bootstrap.yourthemename.min.css</code>. To use it as your theme, change the following variables of the pelicanconf.py file:</p>
<pre><code class="language-python">  THEME = &quot;pelican-bootstrap3&quot;
  BOOTSTRAP_THEME = &quot;yourthemename&quot;
</code></pre>

<h3>Set a background image</h3>
<p>Another way to give your blog some personality is by adding a background. You can take a look at <a href="http://subtlepatterns.com/">Subtle Patterns</a>, which has a collection of over 300 patterns that you can preview and download. This blog uses a pattern called <a href="http://subtlepatterns.com/ticks/">Ticks</a>. To add a background in your theme you just have to save the file in your image folder and add following code in your <code>style.css</code> file.</p>
<pre><code class="language-css">body {
    background: url('../images/background.png');
}
</code></pre>

<h3>Get a header image</h3>
<p>Find or take a picture and set it as your header image. You can also use Google Image Search, just be careful to filter by usage rights, like "labeled for reuse with modification", so you can use the image in your blog and/or modify it. If you don't have Photoshop, try out <a href="http://www.gimp.org/">GIMP</a>, it's an open source image manipulation program. I've used the Filters-&gt;Decor-&gt;Round Corners to get the round corners and the shadow. I've also added text and changed the color balance. </p>
<p>To add your header image, save the image under:</p>
<pre><code class="language-bash">  yourproject/
  └── content/
      └── images/
          └──yourheaderimage.png
</code></pre>

<p>and add the following lines in your <code>pelicanconf.py</code> file:</p>
<pre><code class="language-python">STATIC_PATHS = ['images']
HEADER_IMAGE = &quot;yourheaderimage.png&quot;
</code></pre>

<h3>Set your profile picture</h3>
<p>To set your profile picture, save your profile image under the same folder as the header image:</p>
<pre><code class="language-bash">  yourproject/
  └── content/
      └── images/
          └──yourprofilepicture.png
</code></pre>

<p>and add the following line to your <code>pelicanconf.py</code> file:</p>
<pre><code class="language-python">STATIC_PATHS = ['images']
PROFILE_PICTURE = &quot;yourprofilepicture.png&quot;
</code></pre>

<h3>Change fonts</h3>
<p>You can use <a href="http://www.google.com/fonts/">Google Fonts</a> to find a pair of fonts that you like. For some inspiration on font combination read <a href="http://designshack.net/articles/css/10-great-google-font-combinations-you-can-copy/">this article</a>. The two recomendations that I've followed from this article were: Go easy and Contrast is key. I've picked Dancing Script for the headers and Cabin for the body. Once you find your fonts, copy the url that <a href="http://www.google.com/fonts/">Google Fonts</a> provides you and set the font you want each of the elements to have. For example:</p>
<pre><code class="language-css">@import url(http://fonts.googleapis.com/css?family=yourfontname1);
@import url(http://fonts.googleapis.com/css?family=yourfontname2);
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:'yourfontname1;}
p{font-family:'yourfontname2';}
</code></pre>

<h3>Custom buttons</h3>
<p>Design a custom button using Charlie Park's <a href="http://charliepark.org/bootstrap_buttons/">Beautiful Buttons for Twitter Bootstrappers</a>. Copy the CSS to <code>your style.css</code> file and change <code>.btn-custom</code> to <code>.btn-default</code>. So you should have something like:</p>
<pre><code class="language-css">.btn-default{
  # YOUR CSS CODE
}
</code></pre>

<h3>Custom social media icons</h3>
<p>Check out <a href="http://www.deviantart.com/?qh=&amp;section=&amp;global=1&amp;q=social+media+icons">Deviantart</a> for free social media icons. There are a lot of great designs. If you can't find any that you like you can always make them yourself or modify them using <a href="http://www.gimp.org/">GIMP</a>. Save the icons you would like to use under the following folder:</p>
<pre><code class="language-bash">  yourproject/
  └── content/
      └── images/
          └──socialmediasite-icon.png
</code></pre>

<p>Make sure you use the following notation: <code>socialmediasite-icon.png</code>, e.g. twitter-icon.png or github-icon.png.</p>
<h3>Syntax higlighting</h3>
<p>Pelican uses by default Pygments for highlighting. I wasn't happy with how Pygments parses words inside the <code>&lt;code&gt;</code> tag, so I looked for an alternative. I found <a href="http://prismjs.com/">Prism</a>, it's easy to use, has already some beautiful syntax highlighting color schemes and uses a more elegant HTML syntax, just uses <code>&lt;code&gt;</code> tags, along with the recommended way to define a code language in HTML 5, a language-xxxx class. You can preview different available color schemes and download the one you'd like to use for your blog at <a href="http://prismjs.com/">Prism</a>. To use Prism I have deactivated Pygments and added the <code>prism.css</code> file and <code>prism.js</code> to <code>base.html</code>:</p>
<pre><code class="language-markup">    &lt;!--link href=&quot;{{ SITEURL }}/theme/css/pygments.css&quot; rel=&quot;stylesheet&quot;--&gt;
    &lt;link href=&quot;{{ SITEURL }}/theme/css/prism.css&quot; rel=&quot;stylesheet&quot; /&gt;
    &lt;script src=&quot;{{ SITEURL }}/theme/js/prism.js&quot;&gt;&lt;/script&gt;
</code></pre>

<p>When using Markdown you'll need to write your code like this with the aproppriate <code>language-XXXX</code>:</p>
<pre><code class="bash">  ~~~~{.language-markup}
      &lt;!--link href=&quot;{{ SITEURL }}/theme/css/pygments.css&quot; rel=&quot;stylesheet&quot;--&gt;
      &lt;link href=&quot;{{ SITEURL }}/theme/css/prism.css&quot; rel=&quot;stylesheet&quot; /&gt;
      &lt;script src=&quot;{{ SITEURL }}/theme/js/prism.js&quot;&gt;&lt;/script&gt;
  ~~~~ 
</code></pre>

<p>And setup your <code>pelicanconf.py</code> file to:</p>
<pre><code class="language-python">MD_EXTENSIONS = ['extra']
</code></pre>

<p>If you'd rahter keep using Pygments in your blog, just set it up in <code>base.html</code> to:</p>
<pre><code class="language-markup">    &lt;link href=&quot;{{ SITEURL }}/theme/css/pygments.css&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;!--link href=&quot;{{ SITEURL }}/theme/css/prism.css&quot; rel=&quot;stylesheet&quot; /--&gt;
    &lt;!--script src=&quot;{{ SITEURL }}/theme/js/prism.js&quot;&gt;&lt;/script--&gt;
</code></pre>

<h2>Additional features</h2>
<p>I have also added two widgets to my blog: Latest Tweets and Goodread quotes. To activate them you'll need to set up the following variables in your <code>pelicanconf.py</code> file:</p>
<pre><code class="language-python">TWITTER_USERNAME = XXXXX
TWITTER_WIDGET_ID = XXXXX
DISPLAY_GOODREADS_QUOTES = True
GOODREADS_ID = XXXXX
</code></pre>

<p>To get a <code>TWITTER_WIDGET_ID</code>, go to: <code>https://twitter.com/settings/widgets</code> and <code>Create new</code>. You'll find the <code>TWITTER_WIDGET_ID</code> under the html or in the site url:</p>
<p><code>https://twitter.com/settings/widgets/TWITTER_WIDGET_ID/edit</code></p>
<p>To get your <code>GOODREADS_ID</code> go to your Goodreads profile. The url will be: </p>
<p><code>https://www.goodreads.com/user/show/GOODREADS_ID</code></p>
<p>Copy this id into the <code>pelicanconf.py</code>. This widget will display a random quote from your quotes list.</p>
<h2>Publishing to Github</h2>
<p>For information regarding publishing your blog on Github check <a href="http://pelican.readthedocs.org/en/3.3.0/tips.html#publishing-to-github">Pelican</a> or <a href="https://help.github.com/articles/user-organization-and-project-pages">Github</a>.</p>
<p>I'm using a User Page, so I just have to set up a repo named <code>chdoig.github.io</code>, and upload my the output folder there.</p>
<p>And we're done! Hopefully now you'll be able to set up your blog and customize it to your own taste. If you have any questions, I'll be happy to help you out! Thank you for reading!</p>
                    </div>
                </div>
            </div>
            <!-- /.entry-content -->
    <hr />
    <section class="comments" id="comments">
        <h2>Comments</h2>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'christine-blog'; // required: replace example with your forum shortname
            var disqus_identifier = 'create-pelican-blog';
            var disqus_url = '/create-pelican-blog.html';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </section>
        </article>
        
        <ul class="pager">
        </ul>
            </section>

            </div>
            <div class="col-sm-4 col-md-4 col-lg-3 col-xs-12">
                <div class="row text-center">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img class="img-circle image100" src="/images/ChristineDoig.jpg" alt="" />
                    </div>
                </div><hr />
                <ul class="nav nav-pills nav-stacked">
                    <li><a class="btn btn-default" href="/index.html">Home</a></li>
                            <li><a class="btn btn-default" href="/pages/about.html">About</a></li>
                            <li><a class="btn btn-default" href="/pages/bio.html">Bio</a></li>
                    <li>
                        <a class="btn btn-default" href="/archives.html">Archives</a>
                    </li>
                </ul><hr />

<div class="panel panel-primary">
    <div class="panel-heading">
        ~ About me ~
    </div>
    <div class="panel-body">
        Data Lover. Master Student in Innovation and Research in Informatics, spec. Data Mining and Business Intelligence at FIB-UPC
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        ~ Follow me ~
    </div>
    <div class="panel-body">
        <a href="http://twitter.com/dream_bcn"><img
            class= "social-icon" src="/images/twitter-icon.png"></img>
        </a>
        <a href="http://www.linkedin.com/in/christinedoigcardet/"><img
            class= "social-icon" src="/images/linkedin-icon.png"></img>
        </a>
        <a href="http://github.com/chdoig"><img
            class= "social-icon" src="/images/github-icon.png"></img>
        </a>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
            ~ Tag cloud ~
    </div>
    <div class="panel-body">
            <a href="/tag/pelican.html"><span class="label label-default">pelican</span></a>
            <a href="/tag/blog.html"><span class="label label-default">blog</span></a>
 
    </div>
</div>



    <div class="panel panel-primary">
        <div class="panel-heading">
            ~ GitHub Recent Activity ~
        </div>
        <div class="panel-body">
            <div id="gh_repos">
             <p class="list-group-item">Status updating...</p>
            </div>
         </div>
    </div>

        <script type="text/javascript">
            $(document).ready(function () {
                if (!window.jXHR) {
                    var jxhr = document.createElement('script');
                    jxhr.type = 'text/javascript';
                    jxhr.src = '/theme/js/jXHR.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(jxhr, s);
                }

                github.showRepos({
                    user: 'chdoig',
                    count: 5,
                    skip_forks: false,
                    target: '#gh_repos'
                });
            });
        </script>
        <script src="/theme/js/github.js" type="text/javascript"></script>

<div class="panel panel-primary">
    <div class="panel-heading">
    	~ Latest Tweets ~
    </div>
    <div class="panel-body">
		<a class="twitter-timeline" data-chrome="noheader" href="https://twitter.com/dream_bcn" data-widget-id="426271665585012736">Tweets by dream_bcn</a>
	</div>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<div class="panel panel-primary">
    <div class="panel-heading">
        ~ Interesting Links ~
    </div>
    <div class="panel-body">
        <li class="list-group-item"><a href="http://hillarymason.com">Hillary Mason
        </a></li>
        <li class="list-group-item"><a href="http://www.datasciencecentral.com">Data Science Central
        </a></li>
        <li class="list-group-item"><a href="http://www.kdnugget.com">KDnuggets
        </a></li>
    </div>
</div>

                    
            </div>
        </div>
        <hr class="hidden-xs"/>
        <div class="row">
            <div class="footer">
                <div class="container">
                    <p class="footnote">©Christine Doig. Proudly powered by <a href="http://pelican.notmyidea.org/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</i></a>. Thanks to <a href="http://twitter.github.com/bootstrap/">Bootstrap</i></a>, <a href="http://subtlepatterns.com/">Subtle Patterns</i></a> and <a href="http://fortawesome.github.com/Font-Awesome/">Font-Awesome.</a> Lovers Theme by Christine Doig
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/theme/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="jquery.pageslide.min.js"></script>
<script src="/theme/js/prism.js"></script>
<script>function validateForm(query)
    {return (query.length > 0);}
</script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="/theme/js/respond.min.js"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-47526905-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>